#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.data{
  width: 20vw;
  height: 27vh;
  border: 2px solid rgb(202, 188, 151);
  border-radius: 10px;

}

.outer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 1rem;

}