#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-field{
  width: 20em;
  height: 2em;
  font-size: large;
  margin-bottom: 8px;
}

.input-field::placeholder{
font-size: large;
}

#btn{
  margin-right: 1em;
}